@import 'styles';

.navBar {
    background: $backgroundColor;
    z-index: 1000;
    position: fixed;
    top: 0px;
    display: flex;
    width: 100%;

    .navBarContentContainer {
        @extend .contentWrapper;
        padding: .6rem 1.0875rem .6rem 0;
        display: flex;
        justify-content: space-between;
    }

    h2 {
        margin: .5rem 0;
        font-size: 1rem;
    }

    .navBarButtons {
        display: flex;
        padding: .25rem 0;
    }

    .link, .navLink {
        text-decoration: none;
        font-family: Avenir, sans-serif;
        color: $primaryColor;
    }
    
    .navLink {
        font-size: .75rem;
        font-weight: normal;
        margin: 0 1rem;
    }
}





