@import 'styles';

.navBar {
    background: $backgroundColor;

    .navBarContentContainer {
        @extend .contentWrapper;
        padding: 1.45rem 1.0875rem;
        display: flex;
        justify-content: space-between;
    }

    h2 {
        margin: 0;
    }

    .navBarButtons {
        display: flex;
    }

    .link, .navLink {
        text-decoration: none;
        font-family: Avenir;
        color: $primaryColor;
    }
    
    .navLink {
        font-size: .75rem;
        font-weight: normal;
        margin: 0 1rem;
    }
}





