@import 'styles';

.projectDisplay {
    background-color: $secondaryColor; 
    padding: 2rem 0;

    .projectContentContainer {

        @extend .contentWrapper;
        .projectCard {
            display: flex;
            margin: 3rem 0;
            height: 25rem;

            .projectInfo {
                padding: 2rem 1.5rem;
                width: 35%;
                background-color: #ffffff;
                text-align: right;
                border-radius: 8px 0 0 8px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .projectTitle {
                    color: $secondaryColor;
                    // height: 4rem;
                }

                .projectDescription {
                    font-family: 'Servus slab';
                    color: $primaryColor;
                    font-weight: 500;
                }
            }

            .projectImage {
                width: 65%;
                border-radius: 0 8px 8px 0;
                margin: 0;
            }
        }
        
    
        .projectLink {
            text-decoration: none;
            color: black;
        }
    }
}




