@import 'styles';

.projectDisplay {
    background-color: $primaryColor; 
    padding: 1rem 0;

    .projectContentContainer {
        @extend .contentWrapper;
        transition: $transitionStyle;
    }
}




