@import 'styles';

.headerImage {
    height: 400px;
    max-width: 960px;
    margin: 92px auto 0;
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (max-width: $mobileBreak) {
        height: 400px;
        background-attachment: scroll;
        margin: 48px auto 0;
    }
}



table {
    margin: 64px 0;
}

.imageRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .image {
        width: 220px;
        height: 360px;
        margin: 36px 18px;
    }
}

.scrollToTop {
    content: "";
    width: 64px;
    height: 64px;
    display: block;
    position: sticky;
    bottom: 40px;
    right: 40px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    float: right;
    outline: none;
    border: none;
    opacity: 0;
    background: rgba($primaryColor, 0) url("../images/arrow.png") no-repeat center;
    background-size: 32px;
    border-radius: 50%;

    &:hover {
        background-color: rgba(white, .1);
        transform: translateY(-2px);
    }

    @media only screen and (max-width: $mobileBreak) {
        width: 52px;
        height: 52px;
        background-size: 24px;
        bottom: 20px;
        right: 20px;
    }
}

.visible {
    display: block;
    opacity: 1;
    border: .5px solid white;
    background: rgba($primaryColor, .2) url("../images/arrow.png") no-repeat center;
    background-size: 32px;
}

.projectContent {
    h2, h3 {
        text-align: center;
    }
    padding-bottom: 4rem;

    .overviewCard {
        @extend .contentWrapper;
        max-width: 800px;
        position: relative;
        margin: -6rem auto 0;
        border: 1px solid white;
        border-radius: 2px;
    
        .heading {
            background-color: lighten($primaryColor, 7%);
            background-color: $primaryColor;
            padding: 2rem;
            border-radius: 2px 2px 0 0;
            border-bottom: 1px solid white;

            .title {
                color: white;
                font-weight: 800;
                color: $secondaryColor;

            }
             
            .description {
                font-weight: normal;
                margin: 0;
                color: $secondaryColor;
                color: white;
            }

            @media only screen and (max-width: $mobileBreak) {
                .title {
                    font-size: 1.6rem;
                }
                .description {
                    font-size: 1.2rem;
                }
            }
        }
    
        .stats {
            display: flex;
            justify-content: space-between;
            padding: 2rem 2rem 1.2rem;
            background-color: $backgroundColor;
            border-radius: 0 0 2px 2px;
            // border: 1px solid white;
            border-top: none;


            .stat {
                min-width: 6rem;
                margin: 0 1rem 1rem 0;

                &.no-shrink {
                    flex-shrink: 0;
                }
            }
            h5 {
                margin-bottom: .5rem;
                color: $secondaryColor;
                font-weight: 600;
            }

            h6 {
                font-weight: 400;
                margin-bottom: .1rem;
                line-height: 1.2rem;
            }

            @media only screen and (max-width: $mobileBreak) {
                flex-wrap: wrap;
                justify-content: space-between;
                
                .stat {
                    width: 42%;
                    margin: 2% 4%;
                }
            }

            @media only screen and (max-width: 600px) {
                flex-wrap: wrap;
                justify-content: space-between;
                
                .stat {
                    width: 100%
                }
            }
            
        }
    }

    .contentBody {
        @extend .contentWrapper;
        margin: 4rem auto;
        color: white;

        .photoGrid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 2.5rem 0 0 0;

            .photoGridElement {
                width: 49%;
                margin: .5rem 0;

                @media only screen and (max-width: $mobileBreak) {
                    width: 100%;
                }
            }
        }

        .projectImage {
            margin: 2.5rem 0;
        }

        .bodyTextWrapper {
            max-width: 34rem;
            margin: 0 auto;
        }

        .overview {
            p, li, ul {
                font-size: 1.3rem;
                line-height: 1.8rem;
                letter-spacing: .02rem;
                color: white;
            }
        }

        .caption {
            font-size: .85rem;
            line-height: 1.3rem;
            margin: 1.5rem 0 2.5rem;
        }

        .imageHeading {
            margin: 2.5rem 0 1.5rem;
        }

        .iframeWrapper {
            max-width: 420px;
            height: 700px;
            margin: 0 auto;
        }

        .videoWrapper {
            margin: 3rem 0;
            max-width: 100%;

            iframe {
                width: 100%;
                height: 540px;
            }

            @media only screen and (max-width: 960px) {
                iframe {
                    width: 100%;
                    height: 50vw;
                }
            }
        }

        .columnLayout {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 2rem 2rem 1rem;
            margin: 3rem auto;
            background-color: $primaryColor;
            background-color: #f9f9f9;
            background-color: $primaryColor;
            color: white;
            border-radius: 2px;
            overflow: wrap;

            

            h3, ul, ol, p, h4, h5 {
                color: white;
            }

            .column {
                margin: 0 3.5%;
                width: 43%;
             
                @media only screen and (max-width: $mobileBreak) {
                    width: 100%;
                    margin: 0;
                }
                

                h3 {
                    margin-top: 2rem;
                }
                
                h4 {
                    font-size: 1rem;
                    margin-bottom: .75rem;
                }

                h5 {
                    font-size: .9rem;
                    margin-bottom: 1rem;
                    line-height: 1.1rem;
                }

             
            }

            .personaImageContainer {
                width: 30%;

                .personaImage {
                    border-radius: 2px;
                }

                .flipImage {
                    -webkit-transform: scaleX(-1);
                    transform: scaleX(-1);
                }

                @media only screen and (max-width: $mobileBreak) {
                    display: none;
                }
            }

            .personaText {
                width: 56%;

                @media only screen and (max-width: $mobileBreak) {
                    width: 100%;
                }
            }
        }

        p, ul, ol {
            color: white;
            font-size: 1rem;
            font-family: Avenir, Arial, Helvetica, sans-serif;
            letter-spacing: .01rem;
        }

        h2 {
            font-size: 2rem;
            color: $secondaryColor;
            margin: 4rem 0 1rem;
        }

        h3 {
            font-size: 1.4rem;
            font-weight: normal;
            margin: 1.5rem 0 1rem;
        }

        h4 {
            font-size: 1.1rem;
            font-weight: bold;
        }
    }
}

.projectPageFooter {
    background: $primaryColor;
    color: $backgroundColor;
}



